* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

h4 {
    font-family: 'Bebas Neue', sans-serif;
    text-shadow: 1px 1px rgb(255, 255, 255);
}

h4 i {
    color: chartreuse;
    text-shadow: 1px 1px black;
    font-weight: bolder;
}

h1{
    font-family: 'Bebas Neue', sans-serif;
    text-shadow: 1px 1px black;
}

h1:hover {
    text-shadow: 4px 4px black;
}

.pulsate-bck {
	-webkit-animation: pulsate-bck 5s steps(500, end) 5 both;
	        animation: pulsate-bck 5s steps(500, end) 5 both;
}
    

@-webkit-keyframes pulsate-bck {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(0.9);
              transform: scale(0.9);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes pulsate-bck {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(0.9);
              transform: scale(0.9);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  .tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  